.nav-bottom{
    margin-top: -8px;
    width: 100%;
    border-top: 1px solid #dedede;
}

.nav-item{
    background-color: #333333;
    padding: 8px;
    border-radius: 8px 8px 0 0;
}

.nav-item:hover{
    background-color: #9b6437;
}

.nav-item a{
    text-decoration: none;
    color: white;
    padding: 2px;
    transition-duration: 200ms;
}

.nav-item a:hover{
    -webkit-text-stroke-width: medium;
    transition-duration: 200ms;
}