.nav-bottom{
    margin-top: -8px;
    width: 100%;
    border-top: 1px solid #dedede;
}

.nav-item a{
    text-decoration: none;
    color: var(--primary);
    padding: 2px;
}

.nav-item a:hover{
    -webkit-text-stroke-width: medium;
    border-bottom: 2px solid var(--primary);
}