@media (max-width: 456px) {
    .offcanvas-start {
        max-width: 250px;
    }
}

.navbar-painel{
    background-color: white;
}

.layout-painel {
    padding-top:50px;
}

a.navbar-brand.text-truncate{
    max-width: calc( 100% - 80px );
}