@media (max-width: 456px) {
    .offcanvas-start {
        max-width: 250px;
    }
}

@media (min-width: 456px) {
    .painel-home {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .painel-home h1 {
        width: 100vw;
    }
    .painel-home-section {
        max-width: 600px;
        width: 100%;
    }
}

.painel-home-line p{
    margin-top:0;
    margin-bottom:0;
}

p.painel-home-line-valor{
    margin-top:4px;
    margin-bottom:8px;
}